name: cd

on:
  push:
    tags:
      - 'v*'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Set up JDK 17
        uses: actions/setup-java@v3.6.0
        with:
          java-version: 13
          distribution: adopt
      - name: Maven Package without test
        run: mvn -B clean package -DskipTests
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_PASSWORD}}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: prubioam/practica-cloud-java-2022-2023:${{ env.RELEASE_VERSION }}
      - name: ssh
        uses: cross-the-world/ssh-pipelines@latest
        env:
          WELCOME: "ssh pipeline"
        with:
          host: ${{ secrets.AWS_IP }}
          user: ubuntu
          key: ${{ secrets.AWS_KEY}}
          script: |
            docker stop prueba
            docker rm prueba
            docker run -d --name prueba -p 8080:8080 prubioam/practica-cloud-java-2022-2023:${{env.RELEASE_VERSION}}
#      - name: Deploy on Heroku
#        uses: akhileshns/heroku-deploy@v3.12.12 # This is the action
#        with:
#          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
#          heroku_app_name: ${{secrets.HEROKU_APP_NAME}}
#          heroku_email: ${{secrets.HEROKU_EMAIL}}
#          usedocker: true
