name: Mi primer Action

on: push

jobs:
  listar-ficheros:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.5.0
      - name: Listar ficheros
        run: ls -l
      - name: Empaquetar proyecto
        run: mvn package -DskipTests
      - name: Realizar los test
        run: mvn test
